<!doctype html>
<html ng-app="NoteWrangler">
<head>
    <meta charset="UTF-8">
    <title>Note Wrangler</title>
    <link rel="stylesheet" href="assets/styles/bootstrap.css">
    <link rel="stylesheet" href="assets/styles/bootstrap-theme.css" >
    
    <!--    vendor     -->
    <script src="assets/javascript/vendor/jquery.js"></script>
    <script src="assets/javascript/vendor/angular.js"></script>
    <script src="assets/javascript/vendor/angular-resource.js"></script>
    <script src="assets/javascript/vendor/angular-route.js"></script>
    <script src="assets/javascript/vendor/bootstrap.js"></script>
    <script src="assets/javascript/vendor/md5.js"></script>
    <script src="assets/javascript/vendor/ngGravatar.js"></script>

    <!--App-->
    <script src="assets/javascript/app.js"></script>
    <script src="assets/javascript/routes.js"></script>
    
    <!--    Directives  -->
    <script src="assets/javascript/directives/nwPageNav.js"></script>
    <script src="assets/javascript/directives/nwCategorySelector.js"></script>
    <script src="assets/javascript/directives/title.js"></script>
    
    
    <!--    Controller  -->
    <script src="assets/javascript/controller/notesIndexController.js"></script>
    <script src="assets/javascript/controller/notesCreateController.js"></script>
    <script src="assets/javascript/controller/notesEditController.js"></script>
    <script src="assets/javascript/controller/notesShowController.js"></script>
    <script src="assets/javascript/controller/usersIndexController.js"></script>
    <script src="assets/javascript/controller/usersShowController.js"></script>

    <!--    Services    -->
    <script src="assets/javascript/service/note.js"></script>
    <script src="assets/javascript/service/user.js"></script>
    <script src="assets/javascript/service/category.js"></script>
    
    <!--    Filters     -->
    <script src="assets/javascript/filters/categoryFilter.js"></script>

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a ng-href="#/">Note Wrangler</a>
                </div>
            </div>
            <nw-page-nav></nw-page-nav>
        </div>
    
    </nav>

    <div ng-view class="container"></div>
</body>
</html>